article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}


body {
    font: 18px/18px "TrebuchetMS", Helvetica, Verdana, sans-serif;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    /* font-family: 'Potta One', cursive; */
    /* font-family: 'Barlow', sans-serif; */




    /*XXX*/
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    line-height: 1em;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: .5em;
}

h2 {
    font-weight: 300;
    margin-bottom: 1.2em;
}

strong {
    font-weight: 500;
    /* color: orange; */
}




/* Header
.........................................................................*/
header {
    height: 5vh;
}


/* Main
.........................................................................*/
main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    width: 45%;
    /* margin: 0 auto; */
}

img {
    max-width: 100%;
}





/* Footer
.........................................................................*/




/* @media query! Skærme over XXXpx
..................................................................*/